{% extends 'base.html.twig' %}

{% block title %}À Propos de Nous{% endblock %}

{% block body %}
    <div class="about">
        <div class="imgAbout">
            <h1>À Propos</h1>
            <img src="/images/tennisCourt2.jpg" alt="Image pour à propos">
            <div class="shapedividers_com-9608"></div>
        </div>
        <div class="aboutData">
            <div class="aboutContainer">
                <h2>Le Tennis Club Smash Ucclois en quelques mots</h2>
                <p>Situé sur un domaine de 4 hectares dans le parc du Wolvendael, notre club est un véritable havre pour les passionnés de tennis. Nous nous engageons à offrir un environnement familial où chaque membre, qu'il soit débutant ou compétiteur, peut jouer et s'épanouir à tout âge. Grâce à de nombreuses animations, nous facilitons les nouvelles rencontres et favorisons l'esprit communautaire. De plus, nos moniteurs passionnés dispensent un enseignement ludique de qualité, garantissant une expérience enrichissante pour tous.</p>
            </div>
            <div class="aboutBox">
                <div class="imgABox">
                    <img src="/images/imgAbout.jpg" alt="Image d'un terrain avec une balle">
                    <h2>HISTOIRE</h2>
                </div>
                <div class="textABox">
                    <div class="contentTextABox">
                        <p>Le Tennis Club Smash Ucclois a vu le jour en [année de création], dans le cadre magnifique du parc du Wolvendael. Ce projet est né de la volonté de quelques passionnés de tennis qui souhaitaient créer un lieu où le sport, le partage et la convivialité seraient au cœur de l'expérience. Ce qui a commencé comme un petit groupe de joueurs dévoués s'est progressivement transformé en un club florissant, attirant des membres de tous horizons, qu'ils soient débutants ou joueurs aguerris.</p>
                        <p>Au fil des ans, le club a connu plusieurs phases de développement, modernisant ses infrastructures pour répondre aux attentes croissantes de ses membres. Grâce à des investissements constants et à un soutien communautaire solide, le club a élargi ses installations et ses services, devenant une référence incontournable pour les amateurs de tennis à Uccle et au-delà. Chaque événement, tournoi ou session d'entraînement fait partie d'une histoire plus vaste, celle d'une communauté qui évolue ensemble dans un cadre exceptionnel.</p>
                        <p>Aujourd'hui, le Tennis Club Smash Ucclois reste fidèle à ses valeurs fondatrices : offrir un espace où le sport, la camaraderie et l'excellence se rencontrent. Nous sommes fiers de notre histoire et des liens solides que nous avons tissés avec nos membres, des plus jeunes aux plus expérimentés.</p>
                    </div>
                </div>
            </div>
            <div class="aboutBox right">
                <div class="imgABox">
                    <img src="/images/aboutBox2.jpg" alt="Image d'un terrain avec une balle">
                    <h2>Mission</h2>
                </div>
                <div class="textABox">
                    <div class="contentTextABox">
                        <p>La mission du Tennis Club Smash Ucclois va bien au-delà de la simple pratique sportive. Nous croyons fermement que le tennis est un vecteur de développement personnel et collectif. Notre objectif est de créer un environnement inclusif, où chaque membre, peu importe son âge ou son niveau, peut non seulement améliorer ses compétences techniques mais aussi s'épanouir sur le plan humain.</p>
                        <p>Nous mettons un point d’honneur à offrir un enseignement de qualité, adapté à chacun, avec des méthodes pédagogiques modernes et ludiques. Nos moniteurs, tous animés par une véritable passion pour le tennis, sont là pour guider et motiver les joueurs, que ce soit dans le cadre d'un apprentissage progressif ou d'un perfectionnement pour la compétition. L’accent est mis sur le plaisir du jeu, l’esprit sportif et la progression, dans un cadre sécurisé et agréable.</p>
                        <p>En plus des entraînements, notre club organise régulièrement des animations, des tournois, et des événements sociaux qui encouragent les membres à se rencontrer et à tisser des liens. Nous voulons que le Tennis Club Smash Ucclois soit un lieu de rencontre, de partage et de découvertes, où chaque joueur se sent chez lui, soutenu et inspiré à atteindre ses objectifs, tout en prenant plaisir à chaque instant passé sur le court.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}