{% extends 'base.html.twig' %}

{% block title %}à Propos de Nous{% endblock %}

{% block body %}
    <div class="about">
        <div class="imgAbout">
            <h1>À Propos</h1>
            <img src="/images/about.jpg" alt="Image pour à propos">
            <div class="shapedividers_com-9608"></div>
        </div>
    </div>
{% endblock %}