{% extends 'base.html.twig' %}

{% block title %}Connexion | Le Smash Ucclois{% endblock %}

{% block body %}
<div class="containerComponent">
    <div class="loginContainer">
        <div class="formLogin">
            <div class="formLoginContainer">
                <h1>CONNECTEZ-VOUS</h1>
                <h4>Bon retour parmi-nous !</h4>
                {% if hasError %}
                    <div class="errorLogin">
                        <span>{{ loginError }}</span>
                    </div>
                {% endif %}
                <form action="{{ path('account_login') }}" method="post">
                    <div class="groupLogin">
                        <label for="username" class="labelLogin">Nom d'utilisateur</label>
                        <input type="text" class="inputLogin" id="username" name="_username" placeholder="Votre username" required>
                    </div>
                    <div class="groupLogin">
                        <label for="password" class="labelLogin">Mot de passe</label>
                        <input type="password" class="inputLogin" id="password" name="_password" placeholder="Votre mot de passe" required>
                    </div>

                    {# Champ caché pour la redirection #}
                    <input type="hidden" name="redirect" value="{{ redirect }}">

                    <button type="submit" class="submitLogin">Se connecter</button>
                </form>
                <div class="mdpOublie">
                    <a href="#">Mot de passe oublié ?</a>
                </div>
                <div class="registerBtn">
                    <span>Pas encore de compte ?</span><a href="{{ path('account_register') }}">S'inscrire</a>
                </div>
            </div>
        </div>
        <div class="imgLogin">
            <div class="imgLoginContainer">
                <div class="textImgLogin">
                    <span>Le chemin vers la victoire commence ici. </span>
                    <span>Connectez-vous et faites partie du jeu.</span>
                </div>
            </div>
            <div class="containerImgLogin">
                <img src="/images/tennisCourt.jpg" alt="Image d'un court de tennis">
            </div>
        </div>
    </div>
</div>
{% endblock %}
