{% extends 'base.html.twig' %}

{% block title %}Connexion | Le Smash Ucclois{% endblock %}

{% block body %}
<div class="containerComponent">
    <div class="loginContainer">
        <div class="formLogin">
            <div class="formLoginContainer">
                <h1>Connectez-Vous</h1>
                <h4>Bon retour parmis-nous !</h4>
                <div class="errorLogin">
                    <span>Votre login ou votre mot de passe est incorrect</span>
                </div>
                <form action="{{ path('account_login') }}" method="post">
                    <div class="form-group my-2">
                        <label for="username" class="form-label">Nom d'utilisateur</label>
                        <input type="text" class="form-control" id="username" name="_username" placeholder="Votre username" required>
                    </div>
                    <div class="form-group my-2">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" id="password" name="_password" placeholder="Votre mot de passe" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Se connecter</button>
                </form>
            </div>
        </div>
        <div class="imgLogin">
            <div class="imgLoginContainer">
                <div class="textImgLogin">
                    <span>Le chemin vers la victoire commence ici. </span>
                    <span>Connectez-vous et faites partie du jeu.</span>
                </div>
                <div class="containerImgLogin">
                    <img src="/images/tennisPlayer.png" alt="Image d'un joueur de tennis">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
