// Import des variables (si non déjà fait)
@import '../variables/variable.scss';

// Styles pour le header
.header {
    width: 100%;
    height: 125px;
    @include flex(row);
    font-family: $roboto;
    position: fixed;
    box-sizing: border-box;
    background-color: $yellow;
    z-index: 1000;
    top: 0;
    left: 0;

    .containerHeader {
        position: fixed;
        width: 100%;
        height: 125px;
        @include flex(column);

        .infoConnexion {
            width: 100%;
            height: 25px;
            background-color: $black;
            @include flex(column);
            @media all and (max-width: 500px) {
                height: 50px;
            }

            .infoConnexionContainer {
                width: 100%;
                max-width: 1200px;
                height: 25px;
                @include flex(row);
                justify-content: space-between;
                @media all and (max-width: 1250px) {
                    max-width: 900px;
                }
                @media all and (max-width: 925px) {
                    max-width: 700px;
                }
                @media all and (max-width: 700px) {
                    max-width: 500px;
                }
                @media all and (max-width: 500px) {
                    max-width: 350px;
                    height: 50px;
                    flex-direction: column;
                }

                .infoHeader,
                .loginHeader {
                    @include flex(row);
                    justify-content: start;
                    height: 25px;
                    color: $white;
                    gap: 5px;

                    svg {
                        width: 12px;
                        height: 12px;
                        fill: $white;
                    }

                    span {
                        margin-right: 10px;
                        font-size: 12px;
                    }
                }

                .loginHeader {
                    span {
                        margin: 0;
                    }
                    position: relative;


                    a {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                    }

                    &:hover {
                        span {
                            text-decoration: underline;
                        }
                    }
                }

                .menuUserHeader{
                    position: relative;
                    z-index: 10000;
                    width: 250px;
                    height: 25px;
                    transition: height 0.5s;
                    cursor: pointer;
                    color: $white;
                    border-radius: 5px;
                    transition: all 0.5s;
                    &:hover{
                        background-color: $white;
                        color: $black;
                        border-radius:  5px 5px 0 0;
                        .infoUserHeader .logoMUH svg{
                            fill: $black;
                        }
                    }
                    .infoUserHeader{
                        position: absolute;
                        width: 100%;
                        height: 25px;
                        @include flex(row);
                        gap: 10px;
                        .containerPicture{
                            width: 20px;
                            border-radius: 5px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 5px;
                            }
                        }
                        .logoMUH{
                            width: 20px;
                            svg{
                                width: 15px;
                                height: 15px;
                                fill: $white;
                            }
                        }
                    }
                    .linkMUH{
                        display: none;
                    }

                    &.active{
                        background-color: $white;
                        color: $black;
                        border-radius: 5px 5px 0 0;
                        .linkMUH{
                            display: block;
                            position: absolute;
                            width: 100%;
                            min-height: 150px;
                            border-radius: 0 0 5px 5px;
                            top: 25px;
                            gap: 5px;
                            @include flex(column);
                            background-color: $black;
                            .alinkMUH{
                                width: 100%;
                                height: 25px;
                                @include flex(column);
                                position: relative;
                                a{
                                    width: 100%;
                                    height: 100%;
                                    text-align: center;
                                    color: $white;
                                    text-decoration: none;

                                    &:hover{
                                        background-color: $yellow;
                                        color: $black;
                                    }
                                }
                            }
                            .underlineMUH{
                                width: 100%;
                                height: 1px;
                                background-color: $white;

                            }
                        }
                        .infoUserHeader .logoMUH svg{
                            fill: $black;
                        }
                    }
                }
            }
        }

        .navHeader {
            width: 100%;
            height: 100px;
            background-color: white;
            color: $black;
            font-family: $bebas;
            @include flex(row);

            .navHeaderContainer {
                width: 100%;
                max-width: 1200px;
                height: 100px;
                @include flex(row);
                justify-content: space-between;

                @media all and (max-width: 1250px) {
                    max-width: 900px;
                }

                @media all and (max-width: 925px) {
                    max-width: 700px;
                }

                @media all and (max-width: 700px) {
                    max-width: 500px;
                }

                .logoContainer {
                    width: 115px;
                    height: 100px;
                    @include flex(column);
                    justify-content: start;
                    align-items: start;
                    position: relative;

                    .logo {
                        width: 100%;
                        height: 75px;
                        @include flex(column);

                        img {
                            margin-top: 5px;
                            width: 75px;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    a {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                }
                .ulHeader{
                    width: 70%;
                    height: 100%;
                    font-family: $roboto;
                    @include flex(row);
                    @media all and (max-width: 900px) {
                        width: 80%;
                    }
                    @media all and (max-width: 800px) {
                        display: none;
                    }
                    .liHeader{
                        flex: 1;
                        height: 100%;
                        @include flex(row);
                        .linkHeader{
                            width: 100%;
                            height: 100%;
                            @include flex(row);
                            font-size: 18px;
                            color: $black;
                            text-decoration: none;
                            transition: all 0.5s;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .containerBurger {
                    @include flex(row);
                    display: none;

                    #nav-icon1 {
                        display: none;
                        width: 60px;
                        height: 45px;
                        position: relative;
                        margin: 0px auto;
                        margin-right: 0;
                        transform: rotate(0deg);
                        transition: .5s ease-in-out;
                        cursor: pointer;

                        span {
                            display: block;
                            position: absolute;
                            height: 9px;
                            width: 50%;
                            background: $yellow;
                            opacity: 1;
                            transform: rotate(0deg);
                            transition: .25s ease-in-out;

                            &:nth-child(even) {
                                left: 50%;
                                border-radius: 0 9px 9px 0;
                            }

                            &:nth-child(odd) {
                                left: 0;
                                border-radius: 9px 0 0 9px;
                            }

                            &:nth-child(1),
                            &:nth-child(2) {
                                top: 0;
                            }

                            &:nth-child(3),
                            &:nth-child(4) {
                                top: 18px;
                            }

                            &:nth-child(5),
                            &:nth-child(6) {
                                top: 36px;
                            }
                        }

                        &.open {
                            span {
                                &:nth-child(1),
                                &:nth-child(6) {
                                    transform: rotate(45deg);
                                    left: 5px;
                                    top: 7px;
                                }

                                &:nth-child(2),
                                &:nth-child(5) {
                                    transform: rotate(-45deg);
                                    left: calc(50% - 5px);
                                    top: 7px;
                                }

                                &:nth-child(3) {
                                    left: -50%;
                                    opacity: 0;
                                }

                                &:nth-child(4) {
                                    left: 100%;
                                    opacity: 0;
                                }

                                &:nth-child(5) {
                                    left: 5px;
                                    top: 29px;
                                }

                                &:nth-child(6) {
                                    left: calc(50% - 5px);
                                    top: 29px;
                                }
                            }
                        }
                    }

                    @media all and (max-width: 800px) {
                        display: block;

                        #nav-icon1 {
                            display: block;
                        }
                    }
                }

                @media all and (max-width: 500px) {
                    max-width: 350px;
                    height: 75px;

                    .logoContainer {
                        height: 75px;

                        .logo {
                            height: 50px;

                            img {
                                width: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Styles pour le menu burger
.menuBurger {
    width: 100%;
    min-height: calc(100vh - 125px);
    @include flex(row);
    align-items: start;
    position: fixed;
    top: 125px;
    left: -100%;
    z-index: 100;
    transition: all 0.5s;
    font-family: $roboto;
    background-color: $yellow;

    &.open {
        left: 0;
    }

    .containerMenuBurger {
        width: 80%;
        min-height: 100vh;
        padding: 10px;
        @include flex(column);
        align-items: start;
        color: $black;

        .ulPrincipal {
            width: 100%;
            margin: 0;
            padding: 0;
            @include flex(column);
            justify-content: start;
            align-items: start;
            gap: 10px;

            li {
                list-style: none;
                width: 100%;
                @include flex(row);
                justify-content: start;
                gap: 15px;

                a {
                    text-decoration: none;
                    color: $white;
                    font-size: 18px;
                }

                svg {
                    width: 20px;
                    height: 20px;
                    fill: $white;
                }
            }

            span {
                color: $black;
                font-size: 18px;
            }

            .sousUl {
                overflow: hidden;
                width: 100%;
                margin: 0;
                padding: 0;
                @include flex(column);
                justify-content: start;
                align-items: start;
                gap: 10px;

                li {
                    width: 100%;

                    a {
                        margin-left: 50px;
                    }
                }
            }
        }
    }
}