{% extends 'base.html.twig' %}

{% block title %}Hello AgendaController!{% endblock %}

{% block body %}
    <div class="agenda">
        <div class="imgAgenda">
            <h1>Évenements</h1>
            <img src="/images/about.jpg" alt="Image pour évenements">
            <div class="shapedividers_com-9608"></div>
        </div>
    </div>
{% endblock %}
