{% extends 'base.html.twig' %}

{% block title %}Hello MyClubController!{% endblock %}

{% block body %}
<div class="containerComponent">
    <h1>Bonjour {{user.lastName}} {{user.firstName}}</h1>

</div>
{% endblock %}
