{% extends 'base.html.twig' %}

{% block title %}Hello NewsController!{% endblock %}

{% block body %}
    <div class="newsPage">
        <div class="imgNews">
            <h1>Actualités</h1>
            <img src="/images/about.jpg" alt="Image pour actualités">
            <div class="shapedividers_com-9608"></div>
        </div>
    </div>
{% endblock %}
