@import '../variables/variable.scss';
.homePage{
    width: 100%;
    min-height: calc(100vh - 125px);
    background-color: $white;
    margin-top: 125px;
    @include flex(column);
    justify-content: start;
    font-family: $roboto;
    .accueil{
      width: 100%;
      height: 50vh;
      position: relative;
      @include flex(row);
      .homeText{
        position: relative;
        @include flex(column);
        color: $white;
        z-index: 50;
        h2{
          font-family: $bebas;
          font-size: 3vw;
          text-align: center;
          @media all and (max-width:900px) {
            font-size: 30px;
          }
        }
        h1{
          margin: 0;
          font-family: $bebas;
          font-size: 4vw;
          text-align: center;
          margin-bottom: 50px;
          color: $yellow;
          @media all and (max-width:900px) {
            font-size: 40px;
          }
        }
        .btnHome{
          @include flex(row);
          gap: 20px;
          @media all and (max-width:350px) {
            flex-direction: column;
          }
          a{
            width: 150px;
            padding: 10px;
            @include btn($white, $black);
          }
          .connectBtn{
            @include btn($yellow, $black);
          }
        }
      }
      img{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .shapedividers_com-9608{
        position: absolute;
        width: 100%;
        height: 100px;
        bottom: 0;
        z-index: 10;

        &::before{
            background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" fill="%23FFFFFF"/></svg>'); 
        }
      }
    }
    .statsHome{
      width: 100%;
      height: calc(2 * (50vh - 125px));
      @include flex(row);
      position: relative;
      @media all and (max-width:600px) {
        height: auto;
        min-height: calc(2 * (50vh - 125px)) !important;
      }
      .statLeft, .statRight{
        flex: 1;
        height: 100%;
        @include flex(column);
        .infoStats{
          background-color: white;
          flex: 1;
          width: 100%;
        }
        .statStats{
          background-color: $yellow;
          flex: 1;
          width: 100%;
        }
      }
      .statLeft{
        position: relative;
        .imgLeft{
          position: absolute;
          width: 80%;
          right: 0;
          height: 100%;
          @include flex(column);
          .containerImgLeft{
            width: 350px;
            height: 500px;
            border-radius: 200px;
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 200px;
              border: none;
              
            }
          }
        }
        
        @media all and (max-width:900px) {
          display: none;
        }
        
      }
      .statRight{
        min-height: 100%;
        .infoStats{
          @include flex(column);
          justify-content: end;
          align-items: start;
          color: $black;
          min-height: 20px;
          @media all and (max-width:900px) {
            justify-content: center;
            align-items: center;
            text-align: center;
          }
          .containerTextInfo{
            width: 80%;
            min-height: 20px;
            margin-bottom: 20px;
            @media all and (max-width:1200px) {
              width: 90%;
            }
            .contactInfo{
              width: 100%;
              min-height: 50px;
              @include flex(row);
              justify-content: start;
              gap: 15px;
              @media all and (max-width:900px) {
                justify-content: center;
                align-items: center;
                text-align: center;
              }
              .contactUs{
                @include flex(row);
                a{
                  @include btn($black, $yellow);
                }
              }
            }
          }
        }
        .statStats{
          @include flex(row);
          justify-content: start;
          @media all and (max-width:1200px) {
            justify-content: center;
          }
          .statContainer{
            width: 65%;
            min-height: 200px;
            margin-top: 20px;
            margin-bottom: 20px;
            @include flex(column);
            @media all and (max-width:1200px) {
              width: 90%;
            }
            .statsUp, .statsDown{
              width: 100%;
              flex: 1;
              @include flex(row);
              @media all and (max-width:700px) {
                flex-direction: column;
                gap: 15px;
              }
              .stat{
                flex: 1;
                height: 100%;
                @include flex(row);
                justify-content: start;
                gap: 30px;
                @media all and (max-width:900px) {
                  justify-content: center;
                }
                .statBlock{
                  width: 200px;
                  @include flex(row);
                  justify-content: start;
                  gap: 10px;
                  .logoStat{
                    width: 50px;
                    height: 50px;
                    img, svg{
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                  .textStat{
                    @include flex(column);
                    align-items: start;
                    color: $black;
                    .numberStat{
                      font-size: 30px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .newsHome{
      width: 100%;
      min-height: 100vh;
      background-color: $white;
      position: relative;
      @include flex(column);
      .shapedividers_com-9608{
        position: absolute;
        width: 100%;
        height: 50px;
        top: 0;
        transform: rotate(180deg);
        z-index: 10;

        &::before{
            background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" fill="%23CCF201"/></svg>'); 
        }
      }
      h2{
        margin: 0;
        margin-top: 75px;
        font-family: $bebas;
        color: $black;
        font-size: 50px;
        text-align: center;
      }
      .allNews{
        padding: 10px 20px;
        @include btn($yellow, $black);
      }
      .newsContainer{
        width: 100%;
        max-width: 1200px;
        min-height: 60vh;
        margin: 20px 0;
        @include flex(row);
        color: $black;
        background-color: white;
        border-radius: 20px;
        @media all and (max-width:1200px) {
            max-width: 900px;
        }
        @media all and (max-width:900px) {
            max-width: 700px;
            flex-direction: column;
        }
        @media all and (max-width:700px) {
            max-width: 500px;
        }
        @media all and (max-width:500px) {
            max-width: 400px;
        }
        @media all and (max-width:400px) {
            max-width: 250px;
        }
      }
      .primaryNews, .otherNews{
        flex: 1;
        min-height: 60vh;
      }
      .primaryNews{
        position: relative;
        z-index: 4;
        @include flex(column);
        justify-content: start;
        align-items: start;
        padding: 20px;
        gap: 25px;
        transition: all 0.5s;
        &:hover{
          transform: scale(1.02);
        }
        .newsTitle{
          margin: 0;
        }
        .imgNews{
          width: 100%;
          height: 30vh;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        a{
          width: 100%;
          height: 100%;
          position: absolute;
          cursor: pointer;
          z-index: 5;
        }
      }
      .otherNews{
        @include flex(column);
        padding: 20px;
        .news{
          width: 100%;
          min-height: 20vh;
          @include flex(row);
          position: relative;
          gap: 20px;
          padding: 15px;
          transition: all 0.5s;
          &:hover{
            transform: scale(1.02);
          }
          a{
            width: 100%;
            height: 100%;
            position: absolute;
          }
          .imageNews{
            width: 150px;
            height: 100px;
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            @media all and (max-width:400px) {
              display: none;
             }
          }
          .textNews{
            flex: 1;
            height: 100%;
            @include flex(column);
            justify-content: start;
            align-items: start;
            h3{
              font-family: $bebas;
              font-size: 24px;
            }
            p{
              font-size: 14px;
            }
          }
        }
      }
    }
    .eventHome{
      width: 100%;
      min-height: 80vh;
      background-color: $black;
      position: relative;
      @include flex(column);
      justify-content: start;
      color: white;
      position: relative;
      .upEvent, .downEvent{
        position: absolute;
        width: 100%;
        height: 50%;
      }
      .downEvent{
        background-color: $white;
        bottom: 0;
      }
      .shapedividers_com-9608{
        position: absolute;
        width: 100%;
        height: 100px;
        top: 0;
        transform: rotate(180deg);
        z-index: 10;

        &::before{
            background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" fill="%23F5F5F5"/></svg>'); 
        }
      }
      h2{
        margin: 0;
        margin-top: 125px;
        font-family: $bebas;
        font-size: 50px;
        text-align: center;
      }
      .allEvent{
        padding: 10px 20px;
        @include btn($black, $yellow);
        margin-bottom: 75px;
      }
      .eventContainer{
        width: 100%;
        max-width: 1200px;
        min-height: 45vh;
        @include flex(row);
        color: $black;
        margin: 50px 0;
        @media all and (max-width:1200px) {
            max-width: 900px;
        }
        @media all and (max-width:900px) {
            max-width: 700px;
            flex-direction: column;
        }
        @media all and (max-width:700px) {
            max-width: 500px;
        }
        @media all and (max-width:500px) {
            max-width: 400px;
        }
        @media all and (max-width:400px) {
            max-width: 250px;
        }
      }
      swiper-container{
        margin-top: 5vh;
        width: 100%;
        height: 45vh;
        swiper-slide{
          border-radius: 10px;
          height: 40vh;
          @include flex(column);
          align-items: start;
          justify-content: end;
          position: relative;
          &:hover{
            transform: scale(1.05);
          }
          h4, span{
            position: relative;
            z-index: 55;
            color: white;
            font-weight: bold;
            padding: 2px 10px;
            background-color: $black;
            width: 100%;
          }
          img{
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            border-radius: 10px;
          }
          a{
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 10px;
            z-index: 50;
          }
        }
      }
    }
}

   