@import '../variables/variable.scss';
.containerComponent{
    width: 100%;
    min-height: calc(100vh - 125px);
    background-color: $white;
    margin-top: 125px;
    @include flex(row);
    position: relative;
    padding-bottom: 125px;
    .loginContainer, .registerContainer{
        padding-top: 50px;
        width: 100%;
        max-width: 1200px;
        min-height: 600px;
        @include flex(row);
        border-radius: 15px;
        @media all and (max-width:1200px) {
            max-width: 900px;
        }
        @media all and (max-width:900px) {
            flex-direction: column;
            max-width: 700px;
            margin: 50px 0;
        }
        @media all and (max-width:700px) {
            max-width: 500px;
        }
        @media all and (max-width:500px) {
            max-width: 400px;
        }

        .formLogin{
            border-radius: 15px 0 0 15px;
            background-color: $black;
            width: 50%;
            height: 600px;
            @include flex(column);
            .formLoginContainer{
                width: 80%;
                height: 500px;
                @include flex(column);
                justify-content: start;
                align-items: start;
                color: $white;
                .alert{
                    width: 100%;
                    @include flex(column);
                }
                h1{
                    margin: 0;
                    color: $yellow;
                }
                h4{
                    margin-bottom: 20px;
                    font-size: 16px;
                }

                .errorLogin{
                    width: 100%;
                    height: 50px;
                    background-color: red;
                    @include flex(row);
                    font-weight: bold;
                    border-radius: 5px;
                    margin-bottom: 20px;
                    span{
                        text-align: center;
                    }
                }

                form{
                    width: 100%;
                    @include flex(column);
                    align-items: start;
                    font-family: $roboto;
                    margin-bottom: 20px;
                    .groupLogin{
                        width: 100%;
                        height: 75px;
                        @include flex(column);
                        gap: 5px;
                        margin-bottom: 20px;
                        .labelLogin{
                            flex: 1;
                            width: 100%;
                            text-align: start;
                            font-family: $roboto;
                        }
                        .inputLogin{
                            flex: 2;
                            width: 100%;
                            border-radius: 5px;
                            outline: none;
                            padding: 2px 10px;
                            border: $yellow 1px solid;
                            font-family: $roboto;
                        }
                    }
                    .submitLogin{
                        width: 100%;
                        height: 50px;
                        background-color: $yellow;
                        border: none;
                        border-radius: 5px;
                        margin-top: 10px;
                        font-size: 18px;
                        font-family: $roboto;
                        font-weight: bold;
                    }
                }
            }
            .mdpOublie, .registerBtn{
                width: 100%;
                height: 25px;
                margin-bottom: 20px;
                text-align: center;
            }

            .mdpOublie{
                text-align: right;
                a{
                    color: $white;
                    font-family: $roboto;
                    font-size: 14px;
                }
            }
            .registerBtn{
                @include flex(row);
                gap: 5px;
                font-family: $roboto;
                font-size: 17px;
                a{
                    color: $yellow;
                }
            }
        }

        .reservationType{
            background-color: white;
            color: $black;

            .formLoginContainer{
                color: $black;
                height: auto;
                min-height: 200px;
                h1{
                    color: $black;
                    font-family: $bebas;
                }
                .groupLogin{
                    label{
                        margin: 0;
                        @include flex(column);
                        align-items: start;
                        font-size: 16px;
                    }
                    .select2-container .select2-selection--single {
                        height: 50px; /* Hauteur du champ */
                        font-size: 18px; /* Taille de la police */
                        padding: 10px; /* Espacement interne pour plus d'aération */
                    }
                    
                    .select2-container .select2-selection__rendered {
                        line-height: 30px; /* Ajuste la hauteur de la ligne pour centrer le texte */
                    }
                    
                    .select2-container .select2-selection__arrow {
                        height: 50px; /* Aligne l'icône de flèche */
                    }
                }
                .reservationTimes{
                    a{
                        @include btn(white, $black);
                        border: 1px solid $black;
                    }
                }
            }
        }

        .imgLogin{
            border-radius: 0 15px 15px 0;
            background-color: $yellow;
            width: 50%;
            height: 600px;
            @include flex(row);
            position: relative;
            .imgLoginContainer{
                width: 75%;
                min-height: 200px;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 20px;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                position: relative;
                z-index: 50;
                @media all and (max-width:700px) {
                    width: 80%;
                }

                .textImgLogin{
                    width: 100%;
                    min-height: 200px;
                    font-family: $bebas;
                    @include flex(column);
                    gap: 20px;
                    
                    span{
                        font-size: 28px;
                        color: $yellow;
                        text-align: center;
                        @media all and (max-width:1200px) {
                            font-size: 22px;
                        }
                        @media all and (max-width:900px) {
                            font-size: 26px;
                        }
                        @media all and (max-width:700px) {
                            font-size: 22px;
                        }
                    }
                }
            }
            .containerImgLogin{
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 0 15px 15px 0;
                @media all and (max-width:900px) {
                    border-radius: 0 0px 15px 15px;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 0 15px 15px 0;
                    @media all and (max-width:900px) {
                        border-radius: 0 0px 15px 15px;
                    }
                }
            }
        }

        @media all and (max-width:900px) {
            .imgLogin{
                width: 80%;
                border-radius: 0px 0px 15px 15px;
            }
            .formLogin{
                width: 80%;
                border-radius: 15px 15px 0px 0px;
            }
        }
        @media all and (max-width:500px) {
            .imgLogin{
                width: 100%;
            }
            .formLogin{
                width: 100%;
            }
        }
        
        
    }
    .shapedividers_com-9608{
        position: absolute;
        width: 100%;
        height: 100px;
        bottom: 0;
        z-index: 10;

        &::before{
            background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" fill="%23FFFFF"/></svg>'); 
        }
    }
}