@import '../variables/variable.scss';
.containerComponent{
    width: 100%;
    min-height: calc(100vh - 125px);
    background-color: $white;
    margin-top: 125px;
    @include flex(row);
    .loginContainer, .registerContainer{
        width: 100%;
        max-width: 1200px;
        min-height: 600px;
        @include flex(row);
        border-radius: 15px;
        @media all and (max-width:1200px) {
            max-width: 900px;
        }
        @media all and (max-width:900px) {
            flex-direction: column;
            max-width: 700px;
            margin: 50px 0;
        }
        @media all and (max-width:700px) {
            max-width: 500px;
        }
        @media all and (max-width:500px) {
            max-width: 400px;
        }

        .formLogin{
            border-radius: 15px 0 0 15px;
            background-color: $black;
            width: 50%;
            height: 600px;
            @include flex(column);
            .formLoginContainer{
                width: 80%;
                height: 500px;
                @include flex(column);
                justify-content: start;
                align-items: start;
                color: $white;

                h1{
                    margin: 0;
                    color: $yellow;
                }
                h4{
                    margin-bottom: 20px;
                    font-size: 16px;
                }

                .errorLogin{
                    width: 100%;
                    height: 50px;
                    background-color: red;
                    @include flex(row);
                    font-weight: bold;
                    border-radius: 5px;
                    margin-bottom: 20px;
                    span{
                        text-align: center;
                    }
                }

                form{
                    width: 100%;
                    @include flex(column);
                    align-items: start;
                    font-family: $roboto;
                    margin-bottom: 20px;
                    .groupLogin{
                        width: 100%;
                        height: 75px;
                        @include flex(column);
                        gap: 5px;
                        margin-bottom: 20px;
                        .labelLogin{
                            flex: 1;
                            width: 100%;
                            text-align: start;
                            font-family: $roboto;
                        }
                        .inputLogin{
                            flex: 2;
                            width: 100%;
                            border-radius: 5px;
                            outline: none;
                            padding: 2px 10px;
                            border: $yellow 1px solid;
                            font-family: $roboto;
                        }
                    }
                    .submitLogin{
                        width: 100%;
                        height: 50px;
                        background-color: $yellow;
                        border: none;
                        border-radius: 5px;
                        margin-top: 10px;
                        font-size: 18px;
                        font-family: $roboto;
                        font-weight: bold;
                    }
                }
            }
            .mdpOublie, .registerBtn{
                width: 100%;
                height: 25px;
                margin-bottom: 20px;
                text-align: center;
            }

            .mdpOublie{
                text-align: right;
                a{
                    color: $white;
                    font-family: $roboto;
                    font-size: 14px;
                }
            }
            .registerBtn{
                @include flex(row);
                gap: 5px;
                font-family: $roboto;
                font-size: 17px;
                a{
                    color: $yellow;
                }
            }
        }

        .imgLogin, .imgRegister{
            border-radius: 0 15px 15px 0;
            background-color: $yellow;
            width: 50%;
            height: 600px;
            @include flex(row);
            position: relative;
            .imgLoginContainer, .imgRegisterContainer{
                width: 75%;
                min-height: 200px;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 20px;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                position: relative;
                z-index: 50;
                @media all and (max-width:700px) {
                    width: 80%;
                }

                .textImgLogin, .textImgRegister{
                    width: 100%;
                    min-height: 200px;
                    font-family: $bebas;
                    @include flex(column);
                    gap: 20px;
                    
                    span{
                        font-size: 28px;
                        color: $yellow;
                        text-align: center;
                        @media all and (max-width:1200px) {
                            font-size: 22px;
                        }
                        @media all and (max-width:900px) {
                            font-size: 26px;
                        }
                        @media all and (max-width:700px) {
                            font-size: 22px;
                        }
                    }
                }
            }
            .containerImgLogin, .containerImgRegister{
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 0 15px 15px 0;
                @media all and (max-width:900px) {
                    border-radius: 0 0px 15px 15px;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 0 15px 15px 0;
                    @media all and (max-width:900px) {
                        border-radius: 0 0px 15px 15px;
                    }
                }
            }
        }

        @media all and (max-width:900px) {
            .imgLogin, .imgRegister{
                width: 80%;
                border-radius: 0px 0px 15px 15px;
            }
            .formLogin, .imgRegister{
                width: 80%;
                border-radius: 15px 15px 0px 0px;
            }
        }
        @media all and (max-width:500px) {
            .imgLogin, .imgRegister{
                width: 100%;
            }
            .formLogin, .formRegister{
                width: 100%;
            }
        }
        
        
    }
}