@import '../variables/variable.scss';
.form-step {
    display: none; /* Masquer toutes les étapes par défaut */
    width: 100%;
    margin-bottom: 20px;
}
.formRegister{
    border-radius: 15px 0 0 15px;
    background-color: $black;
    width: 50%;
    height: 600px;
    @include flex(column);
    font-family: $roboto;
    justify-content: start;
    padding-top: 50px;
    .formRegisterContainer{
        width: 80%;
        min-height: 200px;
        @include flex(column);
        justify-content: start;
        align-items: start;
        color: $white;

        h1{
            margin: 0;
            color: $yellow;
        }
        h2{
            margin-bottom: 20px;
            font-size:1.8em;
        }

        .containerStepper{
            margin-top: 20px;
            text-align: center;
            width: 100%;
            height: 50px;
            @include flex(column);
            align-items: start;

            .progressContainer{
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;
                max-width: 100%;
                position: relative;
                width: 350px;
                @media all and (max-width:900px) {
                    max-width: 80%;
                }

                &::before{
                    background-color: $yellow;
                    content: "";
                    height: 4px;
                    left: 0;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    z-index: 1;
                }

                .progress{
                    background-color: white;
                    height: 4px;
                    left: 0;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: 0.4s ease;
                    width: 0%;
                    z-index: 1;
                }

                .circle{
                    align-items: center;
                    background-color: $black;
                    font-weight: bold;
                    border: 3px solid;
                    border-radius: 50%;
                    color: $yellow;
                    display: flex;
                    height: 30px;
                    justify-content: center;
                    transition: 0.4 ease;
                    width: 30px;
                    position: relative;
                    z-index: 60;

                    &.active{
                        border-color: $white;
                        background-color: $white;
                        color: $black;
                    }
                }
            }
        }

        .formgroupRegister{
            width: 100%;
            height: 80px;
            background-color: red;
            @include flex(column);
            div{
                @include flex(column);
                width: 100%;
                height: 100%;
                label{
                    width: 100%;
                }
                input{
                    width: 100%;
                    height: 40px;
                    border-radius: 5px;
                    outline: none;
                    border: none;
                    padding: 5px;
                }
            }

        }

        @media all and (max-width:900px) {
            .formRegister{
                width: 80%;
                border-radius: 0px 0px 15px 15px;
            }
            .imgRegister{
                width: 80%;
                border-radius: 15px 15px 0px 0px;
            }
        }
        @media all and (max-width:500px) {
            .imgRegister{
                width: 100%;
            }
            .formRegister{
                width: 100%;
            }
        }
    }

    .form-navigation{
        width: 80%;
        height: 35px;
        @include flex(row);
        justify-content: start;
        gap: 20px;
        
        button{
            width: 200px;
            height: 100%;
            border-radius: 5px;
            border: none;
            outline: none;
            font-weight: bold;
        }
        .btnPrev{
            background-color: $white;
            color: $black;
        }
        .btnNext{
            background-color: $yellow;
            color: $black;
        }
    }
}