@import '../variables/variable.scss';
.form-step {
    display: none; /* Masquer toutes les étapes par défaut */
    width: 100%;
    margin-bottom: 20px;
}
.formRegister{
    border-radius: 15px 0 0 15px;
    background-color: $black;
    width: 50%;
    min-height: 700px;
    @include flex(column);
    font-family: $roboto;
    .formRegisterContainer{
        width: 80%;
        min-height: 200px;
        @include flex(column);
        justify-content: start;
        align-items: start;
        color: $white;

        h1{
            margin: 0;
            color: $yellow;
        }
        h2{
            margin-bottom: 20px;
            font-size:1.8em;
        }
        form{
            width: 100%;
            .containerStepper{
                margin-top: 20px;
                text-align: center;
                width: 100%;
                height: 50px;
                @include flex(column);
                align-items: start;
    
                .progressContainer{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 30px;
                    max-width: 100%;
                    position: relative;
                    width: 350px;
                    @media all and (max-width:900px) {
                        max-width: 80%;
                    }
    
                    &::before{
                        background-color: $yellow;
                        content: "";
                        height: 4px;
                        left: 0;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 100%;
                        z-index: 1;
                    }
    
                    .progress{
                        background-color: white;
                        height: 4px;
                        left: 0;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: 0.4s ease;
                        width: 0%;
                        z-index: 1;
                    }
    
                    .circle{
                        align-items: center;
                        background-color: $black;
                        font-weight: bold;
                        border: 3px solid;
                        border-radius: 50%;
                        color: $yellow;
                        display: flex;
                        height: 30px;
                        justify-content: center;
                        transition: 0.4 ease;
                        width: 30px;
                        position: relative;
                        z-index: 60;
    
                        &.active{
                            border-color: $white;
                            background-color: $white;
                            color: $black;
                        }
                    }
                }
            }
            .form-step{
                width: 100%;
                min-height: 200px;
                flex-direction: column;
                gap: 10px;
                h2{
                    margin: 0;
                }
                .formgroupRegister{
                    width: 100%;
                    min-height: 85px;
                    @include flex(column);
                    label{
                        width: 100%;
                        padding: 5px 10px;
                    }
                    input{
                        width: 100%;
                        padding: 10px 10px;
                        border-radius: 5px;
                        outline: none;
                        border: none;
                    }
                    input[type="checkbox"] {
                        width: 30px;
                        height: 30px;
                        /* Facultatif : ajouter une bordure pour la rendre plus visible */
                        border: 2px solid #000;
                        cursor: pointer;
                    }
                    input[type="file"] {
                        width: 100%; /* Cible l'input de type file */
                        padding: 10px; /* Ajoute du padding pour un meilleur aspect visuel */
                        border-radius: 5px; /* Coins arrondis */
                        outline: none; /* Enlève le contour par défaut */
                        border: 1px solid #ccc; /* Bordure grise pour un look propre */
                        background-color: #f8f9fa; /* Couleur de fond légère */
                        cursor: pointer; /* Changer le curseur pour indiquer que c'est cliquable */
                        color: $black;
                    }
                    select {
                        width: 100%; /* Cible le select du ChoiceType */
                        padding: 5px; /* Ajoute du padding pour un meilleur aspect visuel */
                        border-radius: 5px; /* Coins arrondis */
                        outline: none; /* Enlève le contour par défaut */
                        border: 1px solid #ccc; /* Bordure grise pour un look propre */
                        appearance: none; /* Enlève le style par défaut du select (facultatif) */
                        label {
                            display: block; /* S'assure que le label est en bloc pour éviter les chevauchements */
                            margin-bottom: 5px; /* Un peu d'espace entre le label et le select */
                        }
                    }
                    .text-danger{
                        width: 100%;
                        padding: 5px;
                        p{
                            margin: 0;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        

        @media all and (max-width:900px) {
            .formRegister{
                width: 80%;
                border-radius: 0px 0px 15px 15px;
            }
            .imgRegister{
                width: 80%;
                border-radius: 15px 15px 0px 0px;
            }
        }
        @media all and (max-width:500px) {
            .imgRegister{
                width: 100%;
            }
            .formRegister{
                width: 100%;
            }
        }
    }

    .loginRedirection{
        width: 100%;
        padding: 10px 0;
        @include flex(row);
        gap: 5px;
        margin-top: 20px;
        span{
            color: $white;
        }
        a{
            color: $yellow;
        }
    }

    .form-navigation{
        width: 80%;
        min-height: 35px;
        @include flex(row);
        justify-content: start;
        gap: 20px;
        
        button{
            width: 200px;
            height: 100%;
            border-radius: 5px;
            border: none;
            outline: none;
            font-weight: bold;
        }
        .btnPrev{
            background-color: $white;
            color: $black;
        }
        .btnNext{
            background-color: $yellow;
            color: $black;
        }
    }
}

.imgRegister{
    border-radius: 0 15px 15px 0;
    background-color: $yellow;
    width: 50%;
    height: 700px;
    @include flex(row);
    position: relative;
    .imgRegisterContainer{
        width: 75%;
        min-height: 200px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 20px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 50;
        @media all and (max-width:700px) {
            width: 80%;
        }

        .textImgRegister{
            width: 100%;
            min-height: 200px;
            font-family: $bebas;
            @include flex(column);
            gap: 20px;
            
            span{
                font-size: 28px;
                color: $yellow;
                text-align: center;
                @media all and (max-width:1200px) {
                    font-size: 22px;
                }
                @media all and (max-width:900px) {
                    font-size: 26px;
                }
                @media all and (max-width:700px) {
                    font-size: 22px;
                }
            }
        }
    }
    .containerImgRegister{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 0 15px 15px 0;
        @media all and (max-width:900px) {
            border-radius: 0 0px 15px 15px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0 15px 15px 0;
            @media all and (max-width:900px) {
                border-radius: 0 0px 15px 15px;
            }
        }
    }
}

@media all and (max-width:900px) {
    .imgLogin, .imgRegister{
        width: 80%;
        border-radius: 0px 0px 15px 15px;
    }
    .formLogin, .formRegister{
        width: 80%;
        border-radius: 15px 15px 0px 0px;
    }
}
@media all and (max-width:500px) {
    .imgLogin, .imgRegister{
        width: 100%;
    }
    .formLogin, .formRegister{
        width: 100%;
    }
}