@import '../variables/variable.scss';
.tournamentContainer{
    width: 100%;
    min-height: calc(100vh - 125px);
    background-color: $white;
    margin-top: 125px;
    @include flex(column);
    justify-content: start;
    font-family: $roboto;
    .listTournament{
        margin-top: 20px;
        width: 100%;
        max-width: 1200px;
        min-height: 80vh;
        @include flex(column);
        align-items: start;
        justify-content: start;
        color: $black;
        padding: 10px;
        @media all and (max-width:1200px) {
            max-width: 900px;
        }
        @media all and (max-width:900px) {
            max-width: 700px;
        }
        @media all and (max-width:700px) {
            max-width: 500px;
        }
        @media all and (max-width:500px) {
            max-width: 400px;
        }
        h1{
            font-family: $bebas;
            color: $black;
        }
        h2{
            margin-top: 20px;
        }
        .alert{
            width: 100%;
            margin: 0;
            p{
                margin: 0;
                font-weight: bold;
                font-size: 18px;
            }
        }
        .tournamentList{
            width: 100%;
            @include flex(column);
            gap: 5px;
            .tournament{
                width: 100%;
                min-height: 100px;
                background-color: white;
                border-radius: 5px;
                @include flex(row);
                flex-wrap: wrap;
                .image{
                    width: 200px;
                    height: 100px;
                    @include flex(row);
                    img{
                        width: 80%;
                        height: 80%;
                        object-fit: contain;
                    }
                }
                .infoTournoi{
                    flex: 1;
                    height: 100px;
                    @include flex(row);
                    justify-content: start;
                    gap: 10px;
                    .nameStatus{
                       @include flex(column);
                       align-items: start;
                       flex: 2;
                       height: 100%;
                       padding: 5px;
                       h3{
                        font-family: $bebas;
                       }
                    }
                    .rankingTournoi, .participantTournoi{
                        @include flex(column);
                        align-items: start;
                        flex: 2;
                        height: 100%;
                        padding: 5px; 
                        .annonce{
                            font-size: 18px;
                            font-weight: bold;
                        }
                    }
                    .inscriptionBracket{
                        @include flex(column);
                        align-items: start;
                        flex: 2;
                        height: 100%;
                        padding: 5px; 
                        .btnAction{
                            width: 150px;
                            height: 35px;
                            border-radius: 5px;
                            background-color: $black;
                            @include flex(column);
                            text-decoration: none;
                            color: $yellow;
                            transition: all 0.5s;
                            &.greenBtn{
                                background-color: #93c54b;
                                color: $white;
                            }
                            &.redBtn{
                                background-color: red;
                                color: $white;
                            }
                            &:hover{
                                background-color: $yellow;
                                color: $black;
                            }
                        }
                    }
                    .winner{
                        height: 100px;
                        padding: 5px; 
                        @include flex(column);
                        align-items: start;
                        flex: 1;
                        @media all and (max-width:900px) {
                            width: 50%;
                            flex: 0;
                        }
                        .annonce{
                            font-size: 18px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width: 900px) {
        .listTournament {
            max-width: 70%;
            padding: 5px;
            h1 {
                font-size: 30px;
                text-align: center;
                margin-bottom: 10px;
            }
            h2 {
                font-size: 24px;
                margin-top: 15px;
            }
            .alert p {
                font-size: 16px;
            }
            .tournamentList {
                .tournament {
                    padding: 5px;
                    @include flex(column); // Réorganiser en colonne
                    gap: 10px;
                    .image {
                        width: 100%;
                        height: 150px;
                        justify-content: center;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain; // Remplir la zone de l'image
                        }
                    }
                    .infoTournoi {
                        @include flex(column); // Réorganiser en colonne
                        .nameStatus,
                        .rankingTournoi,
                        .participantTournoi,
                        .inscriptionBracket,
                        .winner {
                            width: 100%; // Chaque bloc occupe toute la largeur
                            padding: 5px;
                            text-align: left;
                        }
                        .btnAction {
                            width: 100%; // Le bouton occupe toute la largeur
                            height: 35px;
                            text-align: center;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    
    .bracketContainer{
        margin-top: 50px;
        width: 100%;
        max-width: 1200px;
        min-height: 70vh;
        @include flex(column);
        align-items: start;
        justify-content: start;
        color: $black;
        @media all and (max-width:1200px) {
            max-width: 900px;
        }
        @media all and (max-width:900px) {
            max-width: 700px;
        }
        @media all and (max-width:700px) {
            max-width: 500px;
        }
        @media all and (max-width:500px) {
            max-width: 400px;
        }
        h2{
            font-size: 30px;
            font-family: $bebas;
            padding: 10px;
        }
        .bracket{
            width: 100%;
            min-height: 10vh;
            background-color: white;
            color: $black;
            border-radius: 15px;
            swiper-container {
                width: 100%;
                min-height: 10vh;
                swiper-slide{
                    @include flex(column);
                    justify-content: start;
                    padding: 15px;

                    .matchList{
                        width: 100%;
                        min-height: 75px;
                        @include flex(column);
                        margin-bottom: 20px;
                        gap: 2px;
                        .match{
                            width: 100%;
                            height: 75px;
                            @include flex(row);
                            gap: 5px;
                            background-color: $white;
                            color: $black;
                            border-radius: 5px;
                            padding: 10px;
                            .loser{
                                opacity: 0.5 !important;
                            }
                            .player{
                                flex: 5;
                                height: 100%;
                                @include flex(row);
                                opacity: 1;
                                .infoPlayer{
                                    height: 100%;
                                    flex: 1;
                                    padding: 2px;
                                    @include flex(row);
                                    gap: 2px;
                                    .imgPlayer{
                                        width: 40px;
                                        height: 40px;
                                        img{
                                            width: 100%;
                                            height: 100%;
                                            object-fit: contain;
                                        }
                                    }
                                    .infos{
                                        flex: 1;
                                        height: 100%;
                                        @include flex(column);
                                        align-items: start;
                                        .infoName{
                                            font-size: 14px;
                                        }
                                        .infoRanking{
                                            font-size: 16px;
                                        }
                                    }
                                }
                                .winnerTitle{
                                    width: 30px;
                                    height: 30px;
                                    .logoWinner{
                                        width: 30px;
                                        height: 30px;
                                        @include flex(column);
                                        svg{
                                            width: 100%;
                                            height: 100%;
                                            fill: green;
                                        }
                                    }
                                    @include flex(column);
                                }
                            }
                            .vs{
                                flex: 1;
                                font-size: 24px;
                                @include flex(row);
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
        .btnRetourTournoi{
            margin: 20px 0;
            padding: 10px;
            background-color: $black;
            color: $yellow;
            border-radius: 5px;
            text-decoration: none;
            transition: all 0.5s;
            &:hover{
                background-color: $yellow;
                color:$black;
            }
        }
    }
}
