<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content="LeSmash Ucclois Club de Tennis à Uccle">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        <link rel="icon" href="/images/logoTennis.png">
        <link rel="manifest" href="/images/site.webmanifest">
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
        
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'partials/header.html.twig' %}   
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% include 'partials/footer.html.twig' %} 
    </body>
</html>
